* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: rgb(229, 242, 245);
  width:100%;
  overflow-x: hidden;
}

.navbar-side {
  width: 100%;
  height: 100px;
  background-color: white;
}

.sections-side ul li {
  display: inline;

}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sections-side {
  position: relative;
  top: 30px;

}



.sections-side ul li {
  margin-left: 25px;
  position: relative;
  left: -45px;


}

.sections-side ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

.foxic-logo {
  position: relative;
  top: 20px;
  left: 20px;
}

.icons-side i {
  position: relative;
  margin-left: 30px;
  right: -150px;
  top: 30px;

}

.icons-side :hover {
  cursor: pointer;
  background-color: aqua;

}

.slide-image {
  position: absolute;
  z-index: -2;
}

.slide-image img {
  width: 1400px;
  height: 600px;
}

.take-care {
  position: relative;
  top: 144px;
  left: 60px;
  z-index: -1;
}

.take-care h1 {
  font-size: 55px;
  font-style: bold;
  z-index: -1;
}


.health {
  position: relative;
  top: 150px;
  left: 60px;
  z-index: -1;

}

.health h1 {
  font-size: 55px;
  font-style: bold;
  z-index: -1;
}

.mini-text {
  position: relative;
  top: 180px;
  left: 60px;
  z-index: -1;

}

.mini-text p{
 color: black;
}

.button-move {
  position: relative;
  bottom: -200px;
  left: 40px;

}

.button2 {

  background-color: #4CAF50;
  border-radius: 50px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: aqua;
  color: black;

}

.button2:hover {
  background-color: #000000;
  color: white;
}


#service {
  margin-top: 355px;
  position: relative;
  background-color: white;
  height: 100px;
  z-index: -2;
  padding-top: 25px;
}

.shipping-h6 {
  position: relative;
  left: 100px;
  bottom: 20px;
}

.shipping-icon {
  position: relative;
  left: 40px;
  top: 16px;

}

.support-icon {
  position: relative;
  left: 40px;
  top: 16px;
}

.support-h6 {
  position: relative;
  left: 100px;
  bottom: 20px;
}

.moneyback-icon {
  position: relative;
  left: 40px;
  top: 16px;
}

.moneyback-h6 {
  position: relative;
  left: 100px;
  bottom: 20px;
}

.gift-icon {
  position: relative;
  left: 40px;
  top: 16px;
}

.gift-h6 {
  position: relative;
  left: 100px;
  bottom: 20px;
}

#arrivals {
  margin-top: 10px;

}

.arrivals-h2 {
  bottom: -30px;
}

.product1 {
  position: relative;
  right: 20px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.product1 img {
  width: 200px;
}

.product1 i {
  color: yellow;
}

.product1 :hover {
  transform: scale(1.2);
  transition: all .4s ease-in-out;
}

.product2 {
  position: relative;
  left: 20px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.product2 img {
  width: 200px;
}

.product2 i {
  color: yellow;
}

.product2 :hover {
  transform: scale(1.2);
  transition: all .4s ease-in-out;
}

.product3 {
  position: relative;
  left: 50px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.product3 img {
  width: 200px;
}

.product3 i {
  color: yellow;
}

.product3 :hover {
  transform: scale(1.2);
  transition: all .4s ease-in-out;
}

.product4 {
  position: relative;
  left: 100px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.product4 img {
  width: 200px;
}

.product4 i {
  color: yellow;
}

.product4 :hover {
  transform: scale(1.2);
  transition: all .4s ease-in-out;
}

.spacess {
  width: 100%;
  height: 100px;
}

.first-side {
  cursor: pointer;
}

.second-side {
  cursor: pointer;
}

.third-side {
  cursor: pointer;
}

.second-top-image :hover {
  transform: scale(1.2);
  transition: all .4s ease-in-out;
}

.first-image {
  position: absolute;
  z-index: -1;
}

.first-texts {
  text-align: center;
  position: relative;
  top: 260px;
  left: 100px;
  color: white;
}

.first-button {
  position: relative;
  top: 260px;
  left: 215px;
}

.second-top-image {
  position: absolute;
  z-index: -1;
}

.second-button1 {
  position: relative;
  top: 40px;
  left: 15px;
}

.second-texts1 {
  text-align: center;
  position: relative;
  color: black;
  right: 110px;
  top: 30px;
}

.second-top-image2 {
  position: relative;
  top: 130px;
  z-index: -1;
}

.second-button2 {
  position: relative;
  top: -97px;
  left: 220px;
}

.second-texts2 {
  text-align: center;
  position: relative;
  color: black;
  left: 100px;
  bottom: 130px;
}

.third-top-image1 {
  position: absolute;
  z-index: -1;
}

.third-button1 {
  position: relative;
  top: 20px;
  left: 20px;
}

.third-texts1 {
  text-align: center;
  position: relative;
  color: white;
  left: -100px;
  bottom: -20px;
}

.third-top-image2 {
  position: relative;
  top: 95px;
  z-index: -1;
}

.third-button2 {
  position: relative;
  top: -97px;
  left: 220px;
}

.third-texts2 {
  text-align: center;
  position: relative;
  color: white;
  left: 100px;
  bottom: 105px;
}

.side-one{
  cursor: pointer;
}

.side-one-image {
  position: absolute;
  z-index: -1;
}

.side-one-button {
  position: relative;
  left: 60px;
  top: 30px;
}

.side-one-texts {
  text-align: center;
  color: white;
  position: relative;
  top: 25px;
}

.side-two{
  cursor: pointer;
}

.side-two-image {
  position: absolute;
  z-index: -1;
}

.side-two-button {
  position: relative;
  left: 60px;
  top: 30px;
}

.side-two-texts {
  text-align: center;
  color: black;
  position: relative;
  top: 25px;
}

.side-three{
  cursor: pointer;
}

.side-three-image {
  position: absolute;
  z-index: -1;
}

.side-three-button {
  position: relative;
  left: 60px;
  top: 45px;
}

.side-three-texts {
  text-align: center;
  color: white;
  position: relative;
  top: 25px;
  right: 170px;
}

.virusess{
  margin-top: 350px;
  background-color: white;
  padding-top: 80px;
}

.virusess{
  height: 411px;
}

.left-side-texts p{
  color: #000000;
}

.Preacutions{
  height: 100px;
  padding-top: 25px;
  background-color: white;
}

.advices{
  background-color: white;
}

.image01{
  box-shadow: 2px 2px 2px 2px #888888;
}

.image02{
  box-shadow: 2px 2px 2px 2px #888888;
}

.image03{
  box-shadow: 2px 2px 2px 2px #888888;
}

.image04{
  box-shadow: 2px 2px 2px 2px #888888;
}

.items{
  background-color: aqua;
  height: 120px;
  margin-top: 70px;
}

.precious-button{
  position: relative;
  left: 1000px;
  top: -75px;
}

.button1 {

  background-color: #4CAF50;
  border-radius: 50px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;

}

.button1:hover {
  background-color: #000000;
  color: white;
}

.precious-texts{
  position: relative;
  left: 290px;
  top: 10px;
  color: white;
}

.precious-icon{
  position: relative;
  left: 230px;
  top: 48px;
  color: white;
}

#purchase .div4 {
  width: 100%;
  height: 100px;
  background-color: rgb(57, 208, 219);
}

#purchase .gift {
  display: flex;
  position: absolute;
  top: 15px;
  left: 250px;
  position: relative;
}

#purchase .gift i {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 10px;
}

#purchase .gift .text {
  position: absolute;
  left: 80px;
}

#purchase button {
  width: 140px;
  height: 50px;
  border-radius: 30px;
  position: absolute;
  right: 300px;
  top: 25px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

#purchase button p {
  color: black;
  position: absolute;
  top: 12px;
  left: 27px;
  transition: 0.3s;
}

#purchase .gift .text h3,
p {
  color: white;
}

#purchase button p:hover {
  color: white;
}

#purchase button:hover {
  background-color: black;
  transition: 0.3s;
}

#contact .my-container {
  width: 90%;
  background-color: white;
  margin: auto;
}

#contact .about-us h5,
.pp {
  color: black;
}

#contact .contact-info h5,
.pe {
  color: black;
}

#contact .contact-info a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

#contact .contact-info a:hover {
  color: rgb(57, 208, 219);
  transition: 0.3s;
}

#contact .links a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

#contact .links a:hover {
  color: rgb(57, 208, 219);
  transition: 0.3s;
}

#contact .links h5 {
  color: black;
}

#contact .medias h5 {
  color: black;
}

#contact .medias .medias-1,
.medias-2 .icons {
  display: flex;
}

#contact .medias .medias-2 {
  display: flex;
  padding-top: 10px;
  position: absolute;
  right: 895px;
}

#contact .medias .medias-1 i {
  padding: 20px;
  font-size: 20px;
  color: #46a6e3;
  padding-top: 15px;
  padding-left: 16px;
  transition: 0.3s;
}

#contact .medias .medias-1 i:hover {
  color: white;
}

#contact .medias .medias-2 i {
  padding: 20px;
  font-size: 20px;
  color: #46a6e3;
  padding-top: 15px;
  padding-left: 16px;
  transition: 0.3s;
}

#contact .medias .medias-2 i:hover {
  color: white;
}

#contact .medias .medias-2 img {
  width: 55px;
  height: 55px;
  position: absolute;
  top: -1px;
  left: -3px;
}

#contact .medias .scls {
  width: 50px;
  height: 50px;
  background-color: #f7f7f7;
  border-radius: 50%;
  margin: 5px;
  transition: 0.3s;
  cursor: pointer;
}

#contact .medias .scls:hover {
  background-color: rgb(57, 208, 219);
  transition: 0.3s;
}

#contact .medias .imgs {
  width: 50px;
  height: 50px;
  background-color: #f7f7f7;
  border-radius: 50%;
  position: relative;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  cursor: pointer;
}


#contact .medias .icons {
  padding-left: 10px;
  position: absolute;
  left: 65px;
}

#contact .medias-2 .icons {
  position: relative;
  left: 415px;
}

#contact .news-letter h5 {
  color: black;
}

#contact .news-letter input {
  border: none;
  background-color: #f7f7f8;
  width: 250px;
  height: 40px;
  padding-left: 20px;
}

#contact button {
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background-color: aqua;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
}

#contact button:hover {
  background-color: black;
  transition: 0.4s;
}

#contact button p {
  color: white;
  position: absolute;
  top: 12px;
  left: 20px;
}

#contact .about-us,
.contact-info,
.links,
.medias,
.news-letter {
  padding-top: 50px;
}

#site-end .my-container{
  width: 90%;
  background-color: white;
  margin: auto;
}

#site-end .end-logo img{
  padding-top: 35px;
}

#site-end .end-logo{
  cursor: pointer;
}

#site-end .end-icons{
  padding-top: 25px;
}

#site-end .end-icons i{
  margin: 20px;
  font-size: 35px;
  transition: 0.3s;
}

#site-end .end-icons i:hover{
  color: aqua;
}

#site-end a{
  position: absolute;
  right: 200px;
  bottom: 27px;
  text-decoration: none;
  color: grey;
  transition: 0.4s;
}

#site-end a:hover{
  color: aqua;
  transition: 0.4s;
}

.logoss{
  position: relative;
  top: 30px;
  left: 10px;
}

@media screen and (max-width: 992px) {
  #navbar .foxic-logo {
    display: none;
  }

  #navbar .icons-side{
    display:none;
  }

  #navbar .sections-side{
    margin-left: 20px;
  }

  #arrivals {
    margin-top: 300px;
  }

 
  
  #arrivals .products .product3 {
    margin-left: -70px;
    margin-top: 30px;
  }

  #arrivals .products .product4 {
    margin-left: -10px;
    margin-top: 30px;
  }

  .first-side .first-image{
    margin-left: 160px;
  }
  .first-side .first-button{
    margin-left: 160px;
  }

  .second-side{
    margin-top: 500px;
  }

  .second-side .second-top-image{
    margin-left: 160px;
  }

  .second-side .second-button1{
    margin-left: 160px;
  }

  .second-top-image2{
    margin-left: 160px;
  }

  .second-button2{
    margin-left: 160px;
  }

  .third-top-image1{
    margin-left: 160px;

  }

  .third-button1{
    margin-left: 160px;
  }

  .third-top-image2{
    margin-left: 160px;
  }

  .third-button2{
    margin-left: 160px;
  }

  .side-one-image{
    margin-left: 230px;
  }

  .side-one-button{
    margin-left: 230px;
  }

  .side-two{
    margin-top: 360px;
  }

  .side-two-image{
    margin-left: 230px;
  }

  .side-two-button{
    margin-left: 230px;
  }

  .side-three{
    margin-top: 360px;
  }

  .side-three-image{
    margin-left: 50px;
  }

  .side-three-button{
    margin-left: 70px;
  }

  .left-side-texts{
    text-align: center;
  }

  .right-side{
    margin-left: 50px;
  }

  .Preacutions{
    text-align: center;
    margin-top: 160px;
    
  }






}





